//colors
$color01: #fff;

$headtcol: #d0b096eb;
//colors

//font sizes
$fsize01: 24px;
$fsize02: 36px;
$fsize03: 48px;
//font sizes

//font weight
$bold: bold;
//font weight

//positions
$pfixed:fixed;
//positions

//margins

//margins